{% extends "base.html" %}

{% block content %}
    <!-- pages-title-start -->
    <section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Register Done!</h2>
                            <p><a href="/">Home</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- pages-title-end -->
    <!-- login content section start -->
    <div class="login-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="tb-login-form ">
                            <h5 class="tb-title">Success!</h5>
                            <p>{{ new_user }}, thank you for registration!</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    <!-- login  content section end -->
{% endblock %}
